# CMS
HOST=0.0.0.0
PORT=1337
NODE_ENV=production
STRAPI_URL=http://localhost:7800/cms

# CMS SECRETS
APP_KEYS="toBeModified1,toBeModified2,toBeModified3,toBeModified4"
API_TOKEN_SALT=toBeModified1
ADMIN_JWT_SECRET=toBeModified1
JWT_SECRET=toBeModified
TRANSFER_TOKEN_SALT=toBeModified

# Email
SMTP_USER=email@emailprovider.fi
SMTP_PASSWORD=password

# Database
DATABASE_CLIENT=postgres
DATABASE_NAME=strapi
DATABASE_HOST=db
DATABASE_PORT=5432
DATABASE_USERNAME=postgres
DATABASE_PASSWORD=toBeModified

# Web
PAYTRAIL_MERCHANT_ID=375917
PAYTRAIL_SECRET_KEY=SAIPPUAKAUPPIAS
STRAPI_TOKEN=get-from-strapi
URL=http://127.0.0.1:3000
CALLBACK_URL=/verifyPaymentCallback
NEXT_PUBLIC_STRAPI_API_URL=http://localhost:1337

# Choose from https://tailwindcss.com/docs/customizing-colors
PRIMARY_COLOR=blue
SECONDARY_COLOR=neutral

# Certbot
FQDN=example.org
CERTBOT_EMAIL=example@domain.com